.steps__wrapper {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding: 10%;
	background-color: rgb(56, 56, 56);
	color: white;
}

.steps__title {
	text-transform: uppercase;
	font-size: 30px;
}

.steps__list {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.steps__list_item {
	display: flex;
	gap: 64px;
}

.atom {
	position: relative;
	min-width: 120px;
	min-height: 120px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	background-color: transparent;
	z-index: 2;
	font-weight: 900;
}
.steps__list_item:nth-child(even) .atom {
	color: red;
}
.atom::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	z-index: -1;
}

.steps__list_item:nth-child(odd) .atom::before {
	background-color: rgb(181, 43, 40);
}

.list__item_text {
	font-weight: 650;
	font-size: 20px;
	align-self: center;
}

@media (max-width: 768px) {
	.atom {
		min-width: 100px;
		min-height: 100px;
	}
	.atom::before {
		width: 100px;
		height: 100px;
	}
	.steps__list_item {
		gap: 24px;
	}
	.list__item_text {
		font-size: 14px;
		font-weight: 600;
	}
}
