.consultationblock {
	background-color: gray;
	padding: 100px 0;
	scroll-margin-top: 100px;
}

.content__container {
	display: flex;
	flex-grow: 1;
	max-width: 1200px;
	margin: 0 auto;
	border-radius: 12px;
	color: white;
	position: relative;
}
.consultationblock__info {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	flex-direction: column;
	width: 51%;
	gap: 24px;
	background-color: #284368;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 30px;
	padding-right: 100px;
}
.title {
	font-size: clamp(20px, 1rem + 2vw, 32px);
}

.highlight {
	color: rgb(32, 119, 255);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	list-style-type: none;
	padding-left: 32px;
}

.list_item {
	position: relative;
	gap: 12px;
}

.list_item::before {
	content: "";
	position: absolute;
	right: calc(100% + 12px);
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 10px;
	height: 10px;
	background-image: url("/list__marker.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
@media (max-width: 1000px) {
	.consultationblock {
		padding: 50px 0;
	}
	.content__container {
		flex-direction: column;
		padding: 20px;
		gap: 12px;
	}
	.consultationblock__info {
		position: static;
		width: 100%;
		border-radius: 12px 12px 0 0;
		padding-right: 30px;
	}
}
