.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	width: 50%;
	background-color: #fff;
	border-radius: 12px;
	padding: 40px 70px;
	color: black;
	gap: 24px;
	margin-left: 50%;
	z-index: 2;
}

.hidden {
	visibility: hidden;
}
.input__container {
	display: flex;
	flex-direction: column;
	gap: 6px;
	min-width: 100%;
	width: max-content;
}

.phoneInput {
	display: flex;
	flex-grow: 1;
	max-height: 40px;
	min-height: 40px;
	border-radius: 8px;
	border: 1px solid rgb(88, 153, 255);
	padding-left: 10px;
}

.innerInput {
	border: none !important;
	outline: none !important;
	background: transparent;
	flex-grow: 1;
	height: 100%;
	padding-left: 10px;
	font-size: 16px;
}

.input {
	display: flex;
	flex-grow: 1;
	max-height: 40px;
	min-height: 40px;
	border-radius: 8px;
	border: 1px solid rgb(88, 153, 255);
	padding-left: 10px;
}
.error {
	height: min-content;
	width: max-content;
	font-size: 12px;
	color: red !important;
}

.radio__container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.radio__container_option {
	display: flex;
	gap: 12px;
}

.send_btn {
	padding: 16px;
	color: white;
	background-color: rgb(88, 153, 255);
	border: none;
	border-radius: 100px;
}

@media (max-width: 1000px) {
	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		width: 100%;
		margin-left: 0;
	}
}
