.card__wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 30px;
	border-left: 5px solid var(--color-passed, red);
}

.card__content_preview {
	position: relative;
	user-select: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.card_title {
	font-size: 30px;
	line-height: 39px;
}

.card_preview {
	font-size: 16px;
	max-width: 80%;
}

.price {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-passed);
}

.card_details_trigger {
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 80px;
	font-weight: 300;
}

.card_list_container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-height: 0;
	overflow: hidden;

	transition:
		max-height 0.5s ease-out,
		opacity 0.5s ease-in,
		padding-top 0.5s ease-out;
}

.visible {
	opacity: 1;
	max-height: 1000px;
	padding-top: 20px;
}

.list__element {
}

.list__item {
}

.list__item_title {
	font-size: 20px;
	font-weight: 700;
}

.list__item_text {
}

.list__item_title_highlight {
	color: red;
}

.list__item_text_highlight {
	color: red;
}

.list__element_highlight {
	color: red;
}
