.card__wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 30px;
	border-left: 5px solid var(--color-passed, red);
}

.card__content_preview {
	position: relative;
	user-select: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.card_title {
	font-size: 30px;
	line-height: 39px;
}

.card_preview {
	font-size: 16px;
	max-width: 80%;
}

.price {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-passed);
}

.card_details_trigger {
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 80px;
	font-weight: 300;
}

.card_list_container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* Стили для списков и вложенности */
.list__wrapper {
}

.list {
}

.list__element {
}

.list__item {
}

.list__item_title {
}

.list__item_text {
}

.list__item_title_highlight {
}

.list__item_text_highlight {
}

.list__element_highlight {
}
