.header__container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	background-color: #fff;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
	height: 80px;
	padding: 15px 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
}
.header__navigation {
	display: flex;
	justify-content: space-between;

	gap: 48px;
	align-items: center;
}
.navigation__list {
	display: flex;
	gap: 30px;
	list-style-type: none;
	align-items: center;
}

.navigation__list_item {
	font-size: 18px;
}

.navigation__button_call {
	position: relative;
	display: flex;
	padding: 8px 24px 10px;
	border-radius: 38px;
	border: 1px solid #195aff;
	overflow: hidden;
	color: #195aff;
	text-decoration: none;
	transition: color 0.4s ease-in-out;
	cursor: pointer;
}
.make_call {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	z-index: 3;
	opacity: 0;
}
.navigation__button_call::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #195aff;
	z-index: -1;
	transform: translateX(-100%);
	transition: transform 0.4s ease-in-out;
}

.navigation__button_call:hover::before {
	transform: translateX(0);
}
.navigation__button_call:hover .make_call {
	opacity: 100%;
	transition: opacity 0.6s ease-in-out;
	color: white;
}

.logo {
	object-fit: contain;
	align-self: center;
	justify-self: center;
	max-height: 100%;
}
.popup {
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 32px;
}
.phone__buttons {
	display: flex;
	gap: 75px;
	align-items: center;
}
.sidebarMenu__wrapper {
	display: flex;
	flex-direction: column;
	width: max-content;
	gap: 32px;
}
.sidebarMenu__contacts {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.sidebarMenu__list {
	display: flex;
	padding-left: 0;
	flex-direction: column;
	list-style: none;
	height: 100%;
	gap: 64px;
}
.sidebarMenu__phone_number {
	font-size: clamp(20px, 4vw, 24px);
}
.sidebarMenu__email {
	font-size: clamp(14px, 3vw, 16px);
}

.header__navigation_desktop {
	display: none;
}
.header__navigation_mobile {
	display: flex;
	align-items: center;
}
.sidebarMenu__list_item {
	font-size: clamp(14px, 3vw, 16px);
}
@media (min-width: 1200px) {
	.header__navigation_desktop {
		display: block;
	}
	.header__navigation_mobile {
		display: none;
	}
}
