.services__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgb(230, 229, 229);
	padding: 180px 70px 70px 70px;
}

.services__title {
	font-weight: 500;
	font-size: 50px;
	max-width: 560px;
	line-height: 1.2;
	margin-bottom: 32px;
}
.services__title_keyword {
	color: rgb(32, 119, 255);
}

.services__list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	gap: 1.5rem;
	padding: 0;
	margin: 0;
}

.services__list_item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 24px;
	overflow: hidden;
	justify-content: flex-end;
}
.services__list_item:last-child {
	grid-column: 2;
	grid-row: 1 / 3;
}

.list__item_title {
	font-weight: 600;
	font-size: 1.6em;
	position: relative;
	z-index: 2;
	color: #fff;
}

.list__item_text {
	max-width: 320px;
	height: max-content;
	position: relative;
	z-index: 2;
	color: #fff;
	margin: 0;
}

.list__item_image {
	position: absolute;
	inset: 0;
	object-fit: cover;
	filter: brightness(0.7);
}
@media (max-width: 768px) {
	.services__container {
		padding: 270px 50px 50px 50px;
	}
	.services__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: 0;
		margin: 0;
	}

	.services__list_item {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 32px;
		overflow: hidden;
		justify-content: flex-end;
	}
	.services__title {
		font-weight: 600;
		font-size: 1.6em;
		margin-bottom: 32px;
	}
	.services__title_keyword {
		color: rgb(32, 119, 255);
	}

	.list__item_title {
		font-weight: 700;
		font-size: 1.2em;
		position: relative;
		z-index: 2;
		color: #fff;
	}
	.list__item_text {
		position: relative;
		z-index: 2;
		color: #fff;
		margin: 0;
		font-size: 0.8em;
	}
}
