.work_process {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 50px;
	text-align: center;
}

.steps_list {
	position: relative;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: min-content;
	list-style: none;
	padding: 0;
	margin: 0;

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50px;
		bottom: 50px;
		width: 0;
		border-left: 2px dashed #ccc;
		transform: translateX(-50%);
	}
	counter-reset: step-num;
}

.steps_list_title {
	padding: 50px;
	padding-left: 100px;
	position: relative;
	list-style: none;
	display: flex;
	flex-direction: column;
	counter-increment: step-num;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		height: 0;
		border-bottom: 2px dashed #ccc;

		left: 50px;
		right: 5px;
	}

	&:nth-child(even)::before {
		left: 5px;
		right: 50px;
	}

	&:nth-last-child(1)::before,
	&:nth-last-child(2)::before {
		display: none;
	}

	&::after {
		content: counter(step-num, decimal-leading-zero);

		position: absolute;
		left: 3%;
		top: 50px;

		background-image: url("/ellipse.png");
		background-size: contain;
		background-repeat: no-repeat;
		width: 60px;
		height: 60px;

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		font-weight: bold;
		color: white;
	}
}

.list_title {
	font-size: clamp(20px, 1rem + 1vw, 30px);
	hyphens: auto;
	word-break: keep-all;
	font-weight: 650;
	margin-bottom: 15px;
}

.steps {
	padding-left: 20px;
	list-style-type: disc;
}

.step_text {
	position: relative;
	margin-bottom: 10px;
	font-size: 1.15rem;
}

@media (max-width: 768px) {
	.steps_list {
		grid-template-columns: 1fr;

		&::after {
			display: none;
		}
	}

	.steps_list_title {
		padding-left: 80px;
		padding-right: 20px;
		&::before {
			display: none;
		}

		&::after {
			left: 10px;
			top: 30px;
		}

		border-bottom: 1px dashed #ccc;
		&:last-child {
			border-bottom: none;
		}
	}
}
