.tariff__block {
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.info {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.title {
	font-size: 2rem;
	font-weight: 600;
}
.description {
	font-size: 1rem;
}
.cards {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
