.wrapper {
	display: flex;
	flex-direction: column;
	min-width: 100svw;
	min-height: 100svh;
}
.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-width: 100%;
	min-height: 100%;
	padding-top: 140px !important;
}
