.card__wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	padding: 50px 25px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 16px;
	place-items: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card__title,
.card__title * {
	font-size: 30px;
	font-weight: bold;
}

.card__subtitle {
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 16px;
}
.card__subtitle_important {
	color: red;
}
.card__info {
	color: rgb(68, 68, 67);
	min-height: 130px;
	max-height: 130px;
	margin-bottom: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card__button {
	border-radius: 1000px;
	background-color: violet;
	color: black;
	font-weight: 650;
	text-transform: uppercase;
	width: max-content;
	padding: 15px;
}
@media (max-width: 900px) {
	.card__wrapper {
		max-width: 500px;
	}

	.card__info {
		min-height: 125px;
		max-height: 125px;
		font-size: 19px;
		text-align: center;
	}
}
@media (max-width: 500px) {
	.card__wrapper {
		padding: 20px 10px;
	}
	.card__subtitle {
		margin: 15px 0;
	}
	.card__info {
		min-height: 90px;
		max-height: 50px;
		font-size: 15px;
	}
}
